@model IEnumerable<ContactPro.Models.Contact>

@{
    ViewBag.Title = "Contacts ";
}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" />

<br />

<p class="title-area text-center"><span class="custom-float-left">@ViewBag.Title</span>@Html.Partial("_CreateNewButtonPartial")</p>

<div class="table-responsive">
    <table id="myTable" class="table ui celled table-hover table-striped compact">
        <thead>
            <tr>
                <th style="background: #333; color: white;"><span>@Html.DisplayNameFor(model => model.Customer.CompanyName)</span></th>
                <th style="background: #333; color: white;"><span>@Html.DisplayNameFor(model => model.FullName)</span></th>
                <th style="background: #333; color: white;"><span>@Html.DisplayNameFor(model => model.JobTitle)</span></th>
                <th style="background: #333; color: white;"><span>@Html.DisplayNameFor(model => model.Customer.Phone)</span></th>
                <th style="background: #333; color: white;"><span>@Html.DisplayNameFor(model => model.DirectLine)</span></th>
                <th style="background: #333; color: white;"><span>@Html.DisplayNameFor(model => model.Mobile)</span></th>
                <th style="background: #333; color: white;"><span>Action</span></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            if (item.Status == "A")
            {
        <tr ondblclick="location.href = '@Url.Action("Edit", "Contacts", new { id = item.ID })'">
            <td class="text"><span>@Html.DisplayFor(modelItem => item.Customer.CompanyName)</span></td>
            <td class="text"><span>@Html.DisplayFor(modelItem => item.FullName)</span></td>
            <td class="text d-none d-lg-table-cell"><span>@Html.DisplayFor(modelItem => item.JobTitle)</span></td>
            <td class="text"><span>@Html.DisplayFor(modelItem => item.Customer.Phone)</span></td>
            <td class="text"><span>@Html.DisplayFor(modelItem => item.DirectLine)</span></td>
            <td class="text"><span>@Html.DisplayFor(modelItem => item.Mobile)</span></td>
            <td class="text">
                <span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </span>
            </td>
        </tr>
            }
        }

    </table>
</div>

@section Scripts {
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myTable").DataTable({
                scrollCollapse: true,
                paging: true
            });
        });
    </script>
}